{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue dans ce Blog</h1>
<p>Hello, visiteur ! Si tu te poses des questions sur mon blog voilà l'article fait pour toi !</p>
<p>Critiques : J'adore lire c'est une une de mes passions, vous retrouverez principalement des critiques sur des livres mais aussi des films et des séries que j'ai lu ou vu et qui m'ont plu. Les résumés sont fait par mes soins (et ne sont donc pas de la quatrième de couverture !).</p>

    <a class="navbar-brand" href="/"><img src="/trucs.jpg"></a>


{% endblock %}